__pycache__/
*.py[cod]
*$py.class

log_file.log
app/log_file.log
credentials.py
app/*.log
*.log

app/data/original/*
app/data/processed/*

!app/data/original/.gitkeep 
!app/data/processed/.gitkeep 

.idea/

test.py
testing.ipynb
testing.xlsx